# dependencies
/node_modules  # Excludes frontend node_modules globally
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env          # Project-wide env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.pyc
env/          # Excludes the virtual environment

# Database
*.db          # Excludes all database files

# Editor directories and files
.vscode/