# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.watermark.ps1
.watermark-duplicate.ps1
.watermark-remove.ps1
.watermark-replace.ps1

# Python
__pycache__/
*.pyc
env/

# Database
*.db

# OS Files
Thumbs.db
Desktop.ini

# Logs
*.log
logs/

# Editor and IDE files
.vscode/
.idea/
.kilocode/
*.swp
*.swo
*~
.kilocodemodes

# Skill Dependencies
wingman-ai/skills/api_request/dependencies/*
wingman-ai/skills/sphereconnect/dependencies/*

#Skill Messages
wingman-ai/configs/*/*.last-message.txt

#Deprecated documents
docs/project/deprecated